@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
* {
  font-family: "IBM Plex Sans KR", serif;
  font-weight: 400;
  font-style: normal;
}
.hdr {
  background-color: rgb(54, 54, 54);
  height: 250px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hdr > button {
  color: #ffcb31;
  background-color: #f9f9f920;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  padding: 0 25px 0 20px;
  border: 2px solid #ffcb31;
  box-sizing: border-box;
  margin-top: 10px;
  cursor: pointer;
}

.hdr > button:hover {
  background-color: #ffcb3180; /* hover 시 배경색을 노란색으로 변경 */
  color: black; /* 마우스를 올렸을 때 배경색 변화 */
}

/* .search-wrap 스타일 */
.search-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 검색창과 버튼을 양쪽 끝으로 배치 */
  width: 340px; /* 너비 설정 */
  height: 46px; /* 높이 설정 */
  padding: 0 25px 0 20px; /* 안쪽 여백 */
  border-radius: 30px; /* 둥근 모서리 */
  border: 2px solid #ffcb31; /* 테두리 색상 */
  box-sizing: border-box; /* 테두리와 여백을 포함한 너비와 높이 계산 */
  background-color: #fff; /* 배경색 */
}

/* 검색 입력창 */
.search-wrap input[type="search"] {
  width: 100%; /* 너비 100%로 설정 (버튼을 제외한 나머지 공간 채우기) */
  height: 100%; /* 높이 100%로 설정 (부모 요소의 높이와 맞춤) */
  border: none; /* 기본 입력창 테두리 없애기 */
  outline: none; /* 클릭 시 외곽선 없애기 */
  font-size: 16px; /* 글자 크기 설정 */
  padding: 0 10px; /* 좌우 여백 */
  border-radius: 30px; /* 둥근 모서리 */
  box-sizing: border-box; /* 여백 포함한 크기 계산 */
}

/* 검색 버튼 스타일 */
.search-wrap .search-btn {
  position: relative; /* 버튼의 위치를 설정 */
  width: 40px; /* 버튼 너비 설정 */
  height: 40px; /* 버튼 높이 설정 */
  flex-shrink: 0; /* 버튼 크기 변경 방지 */
  background-color: #ffcb31; /* 버튼 배경색 */
  background-image: url(https://cimgcdn.ybtour.co.kr/common/button/btn_search.png); /* 배경 이미지 */
  background-size: 20px 20px; /* 배경 이미지 크기를 버튼 크기에 맞게 조정 */
  background-position: center center; /* 배경 이미지 중앙 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복 안 함 */
  border: none; /* 버튼 테두리 제거 */
  border-radius: 50%; /* 둥근 원형 버튼 */
  display: flex;
  justify-content: center; /* 아이콘을 가로로 중앙 배치 */
  align-items: center; /* 아이콘을 세로로 중앙 배치 */
  cursor: pointer; /* 클릭 시 포인터 모양 */
}

.search-wrap .btn-search:hover {
  background-color: #e0a800; /* 마우스를 올렸을 때 배경색 변화 */
}

/* 숨겨진 텍스트 (스크린 리더용) */
.blind-ir {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  border: none;
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
  scroll-behavior: smooth;
}

/* body */
.modal {
  display: none; /* 기본적으로 보이지 않게 설정 */
  position: fixed;

  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 배경을 어둡게 */

  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: white;

  margin: 5% auto;
  padding: 35px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  max-height: 600px;

  overflow-y: auto;
}
#movie-poster {
  width: 100%; /* 부모 요소의 너비에 맞게 크기 조정 */
  height: auto; /* 비율을 유지하면서 높이를 자동으로 설정 */
  max-height: 500px; /* 이미지가 너무 커지지 않도록 제한 */
  object-fit: contain; /* 비율을 유지하면서 꽉 차게 */
  object-position: center; /* 이미지가 중앙에 오도록 설정 */
}

.close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

.showBookmark-btn {
  background-color: #ffcb31;
  border: 1px solid #fff;
  border-radius: 10px;

  font-size: 14px;
  text-align: center;

  display: block;
  margin: 0 auto;

  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.showBookmark-btn:hover {
  background-color: #e0a800;
}

.bookmark-btn {
  background-color: #ffcb31;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.bookmark-btn:hover {
  background-color: #e0a800;
}

#movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
/* 카드 스타일 */
.card {
  width: 250px; /* 너비 설정 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 10px; /* 둥근 모서리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  margin: 20px; /* 카드 간의 간격 */

  overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  display: flex; /* 내부 요소들이 세로로 배치되도록 */
  flex-direction: column; /* 카드 내부 요소들을 세로로 배치 */
  cursor: pointer;

  background-color: white;
  transition: all 0.3s ease;
}
.movie-card:hover {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* 카드 이미지 */
.card-img {
  width: 100%;
  height: auto; /* 이미지 컨테이너의 높이 */
  display: flex; /* 이미지가 플렉스 컨테이너에 배치되도록 */
  flex-grow: 1;
  object-fit: contain;
}

.card-img img {
  width: 100%; /* 이미지 너비를 컨테이너에 맞추기 */
  height: 100%; /* 이미지 높이를 컨테이너에 맞추기 */
  object-fit: cover; /* 이미지가 잘리더라도 컨테이너를 꽉 채우도록 */
}

/* 카드 헤더 */
.card-head {
  height: auto;
  background-color: rgb(54, 54, 54); /* 배경색 */
  padding: 10px 15px; /* 내부 여백 */
  line-height: 1.2;
  color: white; /* 텍스트 색상 */
  flex-grow: 0;

  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

/* 카드 푸터 */
.card-footer {
  height: auto; /* 푸터 높이 */
  flex-grow: 0;
  background-color: #ffcb31; /* 배경색 */
  padding: 10px 15px; /* 내부 여백 */
  display: flex; /* 아이템들이 가로로 배치되도록 */
  justify-content: space-between; /* 두 아이템을 양쪽 끝으로 배치 */
  font-size: 14px; /* 폰트 크기 */
}

.no-result-container {
  display: block;
  text-align: center;
  margin-top: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.back-to-main-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
}
.back-to-main-btn:hover {
  background-color: #45a049;
}

#bookmark-modal {
  display: none;
  position: fixed;

  z-index: 2; /* 다른 모달보다 우선순위 높게 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  justify-content: center;
  align-items: center;
}
#bookmark-modal .modal-content {
  position: relative;
  background-color: white;

  padding: 35px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  max-height: 600px;

  overflow-y: auto;
}
#close-bookmark-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}
#bookmark-container {
  list-style-type: none;
  padding: 0;
}
#bookmark-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

#bookmark-container button {
  background-color: #ffcb31;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

#bookmark-container button:hover {
  background-color: #e0a800;
}

#bookmark-container li.no-bookmarks {
  text-align: center;
  color: #999;
  font-size: 18px;
}
